@media screen and (min-width: 641px) {
	.box {
		display: none;
	}
	h1 {
		margin-top: 6.25rem;
		display: block;
		font-size: 2.5rem;
		font-weight: 700;
		width: 100%;
		color: #333333;
		text-align: center;
	}
}

@media screen and (max-width: 640px) {
	h1 {
		display: none;
	}
	.Fixed {
		position: fixed;
		bottom: 1.875rem;
		right: 0px;
		z-index: 996;
		p {
			width: 2.5rem;
			height: 2.5rem;
		}
		.service {
			background-color: rgba(255, 0, 0, 0.5);
			text-align: center;
			line-height: 2.75rem;
			font-size: 2.125rem;
			color: white;
			margin-bottom: 0.125rem;
		}

		.returnTop {
			background-color: rgba(0, 0, 0, 0.5);
			text-align: center;
			line-height: 2.75rem;
			font-size: 1.875rem;
			color: white;
			opacity: 0;
		}
	}

	.box {
		max-width: 40rem;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		min-width: 20rem;
		display: block;
		.menuList {
			background-color: #f8f8f8;
			z-index: 997;
			position: fixed;
			left: 200%;
			top: 0;
			display: block;
			margin-top:3.5rem;
			width: 100%;
			height: 100%;
			padding: 0.9375rem;
			padding-top: 1.875rem;
			transition: all 0.5s;
			ul {
				li {
					width: 100%;
					// float: left;
					padding: 0.9375rem 0;
					border-bottom: 0.0625rem solid #d4d4d4;
					color: #333;
					font-size: 0.875rem;
					font-weight: 700;
					p {
						float: right;
						color: #333;
					}
				}
			}
			.menuListBottom {
				width: 100%;
				display: flex;
				justify-content: center;
				div {
					width: 100%;
					display: flex;
					justify-content: center;
					a {
						float: left;
						padding: 1.6875rem;
						
						p:nth-of-type(1) {
							width: 3rem;
							height: 3rem;
							border-radius: 50%;
							border: 1px solid #6d6d6d;
							margin: 0 auto 0.375rem;
							
							span {
								display: block;
								text-align: center;
								line-height: 3rem;
								color: #333333;
								font-size: 1.5rem;
							}
						}
						p:nth-of-type(2) {
							
							font-size: 0.875rem;
							color: #666666;
							text-align: center;
						}
					}
				}
			}
		}

		header {
			max-width: 40rem;
			width: 100%;
			padding: 0.9375rem;
			box-shadow: 0px -0.25rem 0.75rem rgba(0, 0, 0, 0.5);
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			margin: 0 auto;
			background-color: white;
			z-index: 998;
			.headLeft {
				width: 6.5rem;

				float: left;
				.headLeftLog {
					width: 100%;
					object-fit: cover;
				}
			}
			.headRight {
				float: right;
				a {
					font-size: 1.5rem;
					font-weight: 700;
					margin-right: 0.9375rem;
					line-height: 1.5rem;
				}
				a:nth-of-type(1) {
					margin-right: 0.9375rem;
					color: #333;
				}
				a:nth-of-type(2) {
					font-size: 1.5rem;
					font-weight: 700;
					margin-right: 0.9375rem;
					color: #000;
				}
			}
		}

		.boxHome {
			position: relative;
		}
		.slid {
			width: 100%;
			padding-top: 3.5625rem;
			z-index: 1;
			position: relative;
			.make {
				width: 100%;
				height: 5rem;
				background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2));
				position: absolute;
				left: 0;
				bottom: 0px;
				z-index: 1;
			}
			.slide {
				ol {
					z-index: 100;
					li {
						z-index: 5;
						float: left;
						width: 0.625rem;
						height: 0.625rem;
						border-radius: 50%;
						border: 1px solid white;
						box-sizing: border-box;
						margin: 0.875rem;
						background-color: rgba(0, 0, 0, 0);
					}
					.active {
						background-color: white;
					}
				}

				div {
					.slidOne {
						position: relative;
						p {
							width: 8.75rem;
							height: 1.625rem;
							border: 0.0625rem solid #111;
							color: #111;
							text-align: center;
							font-size: 0.75rem;
							line-height: 1.5rem;
							position: absolute;
							box-sizing: border-box;
							left: 50%;
							bottom: 14%;
							margin-left: -4.375rem;
						}
					}
					.slidTwo {
						position: relative;
						p {
							width: 8.75rem;
							height: 1.625rem;
							border: 0.0625rem solid #111;
							color: #111;
							text-align: center;
							font-size: 0.75rem;
							line-height: 1.5rem;
							position: absolute;
							box-sizing: border-box;
							left: 50%;
							top: 42%;
							margin-left: -4.375rem;
						}
					}
				}
			}
		}

		.figOne {
			width: 100%;
			margin-top: 1.9375rem;
			padding: 0.9375rem;
			.figOneNav {
				display: flex;
				justify-content: center;
				position: relative;
				h3 {
					color: #333;
					float: left;
					font-size: 1.66rem;
					font-weight: 600;
				}
				span {
					width: 2.5rem;
					border-bottom: 2px solid rgb(199, 0, 11);
					display: block;
					position: absolute;
					left: 50%;
					top: 2.5rem;
					margin-left: -1.25rem;
				}
			}
			.slid {
				width: 100%;
				z-index: 1;
				position: relative;
				.make {
					width: 100%;
					height: 88.5%;
					background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2));
					position: absolute;
					left: 0;
					bottom: 0px;
					z-index: 2;
				}
				.slide {
					ol {
						li {
							z-index: 5;
							float: left;
							width: 0.625rem;
							height: 0.625rem;
							border-radius: 50%;
							border: 1px solid white;
							box-sizing: border-box;
							margin: 0.875rem;
						}
					}
					div {
						.slidThr {
							position: relative;

							.slidThrText {
								position: absolute;
								left: 0.9375rem;
								bottom: 2.625rem;
								z-index: 3;
								p {
									font-size: 0.75rem;
									color: white;
								}
								h6 {
									font-size: 1.125rem;
									font-weight: 700;
									color: white;
								}
							}
						}
					}
				}
			}
		}

		.figTwo {
			max-width: 40rem;
			width: 100%;
			padding: 0.9375rem;
			padding-top: 0px;
			ul {
				// width: 100%;
				li {
					display: flex;
					flex: 1;
					max-width: 38.125rem;
					width: 100%;
					float: left;
					a {
						width: 100%;
						img {
							width: 100%;
							float: left;
						}
						span {
							width: 100%;
							float: left;
							padding: 0.9375rem;
							background-color: #f5f5f5;
							p {
								font-size: 0.765rem;
								color: #666666;
							}
							h5 {
								padding: 0.25rem 0px 0px 0px;
								color: #333;
								font-weight: 700;
								font-size: 0.96rem;
								height: 2.7125rem;
							}
						}
					}
					a:nth-of-type(1) {
						margin-right: 0.9375rem;
						margin-bottom: 0.9375rem;
					}
					a:nth-of-type(2) {
						margin-bottom: 0.9375rem;
					}
					a:nth-of-type(3) {
						margin-right: 0.9375rem;
					}
				}
			}
		}

		.figThr {
			max-width: 40rem;
			width: 100%;
			margin-top: 1.25rem;
			position: relative;

			img {
				width: 100%;
				object-fit: cover;
			}
			a {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}

		.figFour {
			max-width: 40rem;
			width: 100%;
			position: relative;
			padding: 0.9375rem;

			.figFourNav {
				background-color: white;
				display: flex;
				justify-content: center;
				position: relative;
				padding: 2rem 0;
				h3 {
					float: left;
					font-size: 1.66rem;
					font-weight: 600;
					color: #333;
				}
				span {
					width: 2.5rem;
					border-bottom: 0.125rem solid rgb(199, 0, 11);
					display: block;
					position: absolute;
					left: 50%;
					bottom: 1.625rem;
					margin-left: -1.25rem;
				}
			}

			.figFourNavLog {
				width: 100%;
				position: relative;
				height: 11.25rem;
				overflow: hidden;
				margin-top: 1.25rem;
				img {
					width: 100%;
					position: absolute;
					left: 0;
					top: -28%;
					z-index: -1;
				}
				p {
					font-size: 1rem;
					color: white;
					background-color: rgba(0, 0, 0, 0.3);
					position: absolute;
					left: 0px;
					top: 0px;
					text-align: center;
					padding: 0.4375rem 1.25rem;
				}
			}

			.figFourCon {
				width: 100%;
				padding: 0.9375rem 0.9375rem 0px 0.9375rem;
				background-color: #f8f8f8;
				box-sizing: border-box;
				.figFourConHead {
					h6 {
						font-weight: 700;
						color: #333333;
						font-size: 0.875rem;
					}
					padding-top: 0.625rem;
					.figFourConEr {
						margin-top: 0.875rem;

						p {
							color: #333333;
							float: left;
							font-size: 1rem;
						}
						p:nth-of-type(3) {
							padding-left: 1.375rem;
						}
						p:nth-of-type(2) {
							font-size: 0.875rem;
							padding-left: 0.5rem;
						}
						p:nth-of-type(4) {
							font-size: 0.875rem;
							padding-left: 0.5rem;
						}
					}
					.figFourConText {
						margin-top: 2.625rem;
						font-size: 0.75rem;
						padding-bottom: 0.9375rem;
						color: #666666;
					}
				}
			}

			.figFour3 {
				margin-top: 0.75rem;
				width: 100%;
				background-color: #f8f8f8;
				position: relative;
				.figFourText {
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					background-color: rgba(0, 0, 0, 0.3);
					padding: 0.4375rem 1.25rem;
				}
				.figFour3Box {
					padding: 4rem 0.9375rem 0px 0.9375rem;
					a {
						display: block;

						h3 {
							font-size: 1.0625rem;
							font-weight: 700;
							color: #333;
						}
						p {
							color: #666666;
							font-size: 0.75rem;
							padding-bottom: 3.125rem;
						}
					}
				}
			}
			.figFourEnd {
				display: flex;
				justify-content: center;
				margin-top: 2rem;
				.figFourEnda {
					width: 8.75rem;
					height: 2rem;
					border: 0.0625rem solid #111;
					text-align: center;
					line-height: 2rem;
					margin: 0px 0.9375rem;
					box-sizing: border-box;
					color: #111111;
					font-size: 0.75rem;
				}
			}
		}

		.end {
			width: 100%;
			background-color: #f2f2f2;
			padding: 0.9375rem;
			margin-top: 1.375rem;
			.endNav {
				display: flex;
				padding-bottom: 1rem;
				width: 100%;
				input {
					background-color: white;
					width: 100%;
					height: 3rem;
					box-sizing: border-box;
					float: left;
					border: 0.0625rem solid #bebdbd;
					border-right: none;
					padding: 0.9375rem;
					font-size: 1rem;
					color: #757575;
				}
				p {
					background-color: white;
					width: 3rem;
					height: 3rem;
					font-size: 1.625rem;
					color: #c4c1c1;
					line-height: 3rem;
					text-align: center;
					border: 0.0625rem solid #bebdbd;
					border-left: none;
				}
			}

			.accordion {
				.bore {
					background-color: #f2f2f2;
					border: none;
					.bgend {
						background-color: rgba(0, 0, 0, 0);
						margin: 0;
						.mb-0 {
							.BtnCss {
								height: 3.125rem;
								padding: 0.625rem 0.3125rem;
								line-height: 2.25rem;
								margin-top: 1rem;
								border: none;
								font-weight: 700;
								p {
									font-size: 0.75rem;
								}
							}
						}
					}
				}
			}
			ul {
				margin-top: 0.75rem;

				li {
					height: 2.875rem;

					border-bottom: 0.0625rem solid #bebdbd;
					display: block;
					a {
						margin: 0 0.3125rem;
						padding: 0.625rem 0;
						display: block;
						width: 100%;
						height: 100%;
						line-height: 1.625rem;
						font-size: 0.875rem;
						color: #333;
					}
				}
			}
			.explainNavOne {
				width: 100%;
				display: flex;
				justify-content: center;
				margin-top: 2.5rem;
				a {
					margin: 0px 0.625rem;
					font-size: 0.875rem;
					color: #333333;
				}
			}
			.explainNavTwo {
				margin-top: 2.5rem;
				display: flex;
				justify-content: center;
				a {
					font-size: 1.875rem;
					color: #666666;
					margin: 0 0.625rem;
				}
			}
		}
		.putOnRecords {
			background-color: #e6e6e6;
			padding: 1.625rem;
			p {
				font-size: 0.75rem;
				color: #333;
				display: flex;
				justify-content: center;
				margin-bottom: 0.625rem;
			}
			div {
				display: flex;
				justify-content: center;
				a {
					font-size: 0.75rem;
					color: #333;
				}
			}
			.putOnRecordsTwo {
				margin-bottom: 1.5rem;
			}
			.putOnRecordsThr {
				a {
					margin: 0 0.625rem;
				}
			}
		}
	}
}
